<div class="header">
<h1>Cocktail List</h1>
</div>

<div class="btn_top">
<%= link_to "Create Cocktail", new_cocktail_path, class: "btn btn-primary"%>
</div>

<div class="card">
  <%  @cocktails.each do |cocktail| %>
   <h3><%= cocktail.name %></h3>
    <%= link_to "Details", cocktail_path(cocktail), class: "btn btn-info btn-sm"%>
  <% end %>
</div>
